@charset "utf-8";
@month-color: #008000;

table{
  width:1000px;
  border-spacing: 0px;
}
.mar_title{
  background-color: @month-color;
}

.mar_table{
  border: solid @month-color;
  border-width: 1px 0px 0px 1px;
}
.mar_table td{
  border: solid @month-color;
  border-width: 0px 1px 1px 0px;
}

.title{
  color: white;
  height: 80px;
}
.title_month{
  width: 12%;
  font-size: 34px;
}
.title_abstract{
  width: 88%;
  font-size: 26px;
}

.date{
  text-align: center;
  height: 40px;
  color: @month-color;
}

.title2{
  text-align: center;
  height: 60px;
  background-color: @month-color*1.3;
  color: white;
}
.title_week{
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
}
p{
  margin-left: 5px;
}
p time,thing{
  display: inline-block;
}
